.description_container{
    padding-left: 4%;
    width: 937px;
}


.description_container p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    color: #FFFFFF;
}